[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mcrcon = {editable = true, git = "https://github.com/barneygale/MCRcon"}
flask = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.7"

[scripts]
app = 'env FLASK_APP=webrcon.py flask run'

