<!doctype html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}" />
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

    <title>{% block title %}{% endblock %}</title>

    <script type="application/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {
          inDuration: 350,
          outDuration: 350,
          edge: 'left',
        });
      });
    </script>

    {% block head %}

    {% endblock %}

  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="{{url_for('hello')}}" class="brand-logo right">Rhubarb Zone</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="{{url_for('players.list')}}">Players</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{url_for('players.list')}}">Players</a></li>
    </ul>


    <div class="container">

    {% for message in get_flashed_messages() %}
      <div class="card-panel teal">
        <span class="white-text">
          {{ message }}
        </span>
      </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>
