
{% extends 'base.html' %}

{% block title %}Players{% endblock %}

{% block head %}

<style>
.face {
  width: 16px;
  height: 16px;
}
</style>

{% endblock %}

{% block content %}

<h4>Players</h4>

<table class="centered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kick</th>
    </tr>
  </thead>

  <tbody>
    {% for player in players %}
    <tr>
      <td>{{ player.name }} <img class="face" src="{{url_for('players.face', name=player.name)}}"></img> </td>
      <td>
        <form method="post" action="{{url_for('players.kick', name=player.name)}}">
          {{ player.form.csrf_token }}
        <button
            type="submit"
            name="action"
            class="waves-effect waves-light btn {{'' if player.online else 'disabled'}}">
          <i class="material-icons right">close</i>Kick</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
